.calendar-background {
  width: 50vw;
  max-width: 1000px;
  height: 100vh;
  max-height: 1200px;
  display: flex;
  /* background-image: url('public/background.jpg'); */
  justify-content: flex-end;
  align-items: flex-end;
}

.calendar-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* padding: 250px 10px 10px 0; */
}

.days-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.day-of-week {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.calendar-header {
  display: flex;
  text-align: center;
  gap: 10px;
  padding-bottom: 5px;
}

.day-header {
  width: 120px;
  flex: 1;
  font-size: 24px;
  background-color: #ccc;
  color: black;
  border-radius: 10px;
}

.day-header.today {
  background-color: #ff9900;
  color: #000;
  font-weight: 600;
  border: 1px solid #000;
}

.day {
  width: 120px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ff9900;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
  backdrop-filter: blur(5px);
  line-height: 1;
  padding: 10px;
}

.day .month {
  font-size: 1.5rem;
}
.day.prev-month {
  background-color: rgba(255, 255, 255, 0.2);
  color: #333;
}

.day.current-month {
  color: yellow;
}

.day.next-month {
  color: #888;
}

.day.today {
  background-color: rgba(255, 153, 0, 1);
  color: #000;
  font-weight: 600;
}

.day .date {
  font-size: 3.5rem;
}
